.u-section-1 .u-sheet-1 {
  min-height: 578px;
}

.u-section-1 .u-text-1 {
  width: 174px;
  margin: 29px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 29px;
  margin-bottom: 55px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-block-ea49-35 {
  background-image: none;
}