 .u-section-1 {
  border-style: double;
}

.u-section-1 .u-sheet-1 {
  min-height: 430px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }

  .u-section-1 .u-form-group-3 {
    width: 470px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-3 {
    width: 340px;
  }
}