<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
	<title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form action="#"
  th:action="@{/createuser}" 
  th:object="${user}"
  method="post">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <label for="birthDate">Birth Date</label>
    <input type="date" th:field="*{birthDate}" id="birthDate" placeholder="Birth Date">
    <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Create User">   
</form>
</body>
</html>

